* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.CodeMirror {
  height: 100%;
  /* font-family: 'Ubuntu Mono', monospace !important; */
  /* font-family: "IBM Plex Mono", monospace; */
}
.react-codemirror2 {
  width: 100%;
}
